body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  height: 50px;
}

.like-icon {
  display: flex;
  align-content: center;
  height: 50px;
}

.main {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
}

.upperCardText {
  width: 100%;
  display: flex;
}

.lowerCardText {
  width: 100%;
  display: flex;
}

.buttons {
  display: flex;
  justify-content: space-between;
}